[submodule "ethereum-shadow"]
	path = ethereum-shadow
	url = https://github.com/ppopth/ethereum-shadow.git
[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/ppopth/go-ethereum.git
